---
layout: splash
header:
    overlay_color: "#fff"
    overlay_filter: "0.5"
    overlay_image: assets/images/street_sunlight.jpg
excerpt: "Peaceful village in the heart of Ireland"
intro:
    - excerpt: >
        Pollagh is a small village in County Offaly, Ireland. It offers nature, history and plenty of activities as well
        as being an ideal place to explore the Irish midlands from.
feature_row:
    -
        image_path: assets/images/activities.jpg
        alt: "Things to Do"
        url: "/activities"
        btn_label: "Things to do"
    -
        image_path: assets/images/pollagh_sign.jpg
        alt: "Location"
        url: "/location"
        btn_label: "Getting here"
    -
        image_path: assets/images/swans.jpg
        alt: "Gallery"
        url: "/gallery"
        btn_label: "Gallery"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}